super-resolution-workspace.code-workspace
data
src/models/__pycache__/__init__.cpython-38.pyc
src/models/__pycache__/SimpleUpscale.cpython-38.pyc
src/models/__pycache__/SimpleConv.cpython-38.pyc
src/__pycache__/train.cpython-38.pyc
src/dataclass/__pycache__/ImageClass.cpython-38.pyc
src/__pycache__/quality.cpython-37.pyc
src/models/__pycache__/ResidualBlock.cpython-38.pyc
src/models/__pycache__/Generator.cpython-38.pyc
src/figures/batch-size-analysis.pdf
src/figures/batch-size-analysis-extended.pdf
src/figures/batch-size-analysis-complete.pdf
src/models/save/gan_model_exp.pt
src/__pycache__/train.cpython-37.pyc
src/dataclass/__pycache__/MicroImageClass.cpython-38.pyc
src/models/__pycache__/Discriminator.cpython-38.pyc
src/dataclass/__pycache__/convert.cpython-38.pyc
src/dataclass/__pycache__/dataset.cpython-38.pyc
src/dataclass/__pycache__/dataset.cpython-38.pyc
src/dataclass/__pycache__/convert.cpython-38.pyc
src/dataclass/__pycache__/prepare_data.cpython-38.pyc
src/__pycache__/load_models.cpython-38.pyc
src/figures
src/models/save
src/dataclass/__pycache__/convert.cpython-38.pyc
src/__pycache__/quality.cpython-38.pyc
src/dataclass/__pycache__/dataset.cpython-38.pyc
src/dataclass/__pycache__/convert.cpython-38.pyc
.vscode/settings.json
src/dataclass/test_images.json
src/dataclass/train_images.json
report.pdf
